<head>
    <title>University Registrar</title>
</head>
<body>
    <h1>Welcome to the University!</h1>

    <h3><a href="/courses">Add or view a course</a></h3>
    <h3><a href="/students">Add or view a student</a></h3> -->

</body>
